.vscode/**
.github/**
.git/**
.gitignore
**/*.ts
**/tsconfig*.json
**/.eslintrc*
**/node_modules/**/test/**
**/node_modules/**/tests/**
05-e2e-浏览器测试/**
01-extension-扩展逻辑/**
06-docs-项目文档/**
07-artifacts-安装包/**
03-script-构建脚本/**
04-samples-试用样例/screenshots-截图/**
specs/**
.playwright/**
playwright-report/**
**/*.log
src/**
tsconfig.json
**/*.map
out/test-单元测试
out/test-单元测试/**
**/*测试/**
**/*.test.js
**/*.test.js.map
.pack-exclude-test-unit/**
